button:hover{
background-color: red;
color: white;
cursor: pointer;
}
button:active{
    background-color: pink;
    color: red;
}
button{
    /* display: block;
    margin: 0 auto; */
    width: 20vw;
    font-size: 15px;
}
main{
    text-align: center;
}